/*Styles for DAWS digital collection template
Author:   Jason A. Clark
Version:  RWD layout 1.0 -  May 2015
----------------------------------------------- */

/*typography presets*/
/*@import "https://fonts.googleapis.com/css?family=Lato:400italic,800italic,400,800";*/
/*lato-regular - latin*/
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular");
  src: url("../fonts/lato-v11-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/lato-v11-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/lato-v11-latin-regular.woff") format("woff"), /* Modern Browsers */
       url("../fonts/lato-v11-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/lato-v11-latin-regular.svg#Lato") format("svg"); /* Legacy iOS */
}
/*lato-italic - latin*/
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: local("Lato Italic"), local("Lato-Italic");
  src: url("../fonts/lato-v11-latin-italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../fonts/lato-v11-latin-italic.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/lato-v11-latin-italic.woff") format("woff"), /* Modern Browsers */
       url("../fonts/lato-v11-latin-italic.ttf") format("truetype"), /* Safari, Android, iOS */
       url("../fonts/lato-v11-latin-italic.svg#Lato") format("svg"); /* Legacy iOS */
}
/* =global default settings
----------------------------------------------- */
html, body, form, fieldset, input, textarea, select, label {margin:0;padding:0;font:medium Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, address {margin:1em 0;padding:0;}
li, dd, blockquote {margin-left:1em;}
/* =element-specific settings
----------------------------------------------- */
body {background:#ddd url("../img/bg_page.jpg") 0 0 repeat-x;font-size:0.9em;line-height:1.6em;color:#333;}
h1 {font-size:1.2em;color:#333;margin:15px 0 0 0;}
h2 {font-size:1.1em;color:#444;margin:0 0 15px 0;}
h2.mainHeading {font-size:1.3em;padding:15px 0 2px 0;border-bottom:1px dotted #333;}
h3 {font-size:1.0em;color:#660000;margin:0 0 15px 0;}
/* =links
----------------------------------------------- */
a, a:visited {color:#258;text-decoration:none;border-bottom:1px solid #469;}
html>body a, html>body a:visited { border-bottom-style:none;}
a:hover, a:active {color:#933;border-color:#b55;border-bottom-style:solid;}
a img {border:none;}
a.justify {border-bottom-style:none;}
/* =forms
----------------------------------------------- */
form {margin:0;padding:10px 0;border:1px solid #ccc;background:#F2F2F2;}
form.search {text-align:center;}
fieldset {border:none;margin:0;padding:0;}
legend {font-size:1.1em;color:#213C69;padding:0.2em;text-align:right;}
label {font-size:1.3em;color:#213C69;vertical-align:middle;cursor:pointer;}
input, textarea, select {border:1px solid #ccc;font-size:1em;padding:3px;margin:0;vertical-align:middle;}
input.text {width:20em;height:26px;padding:6px 12px;line-height:1.42857143;background-image:none;border:1px solid #ccc;border-radius:4px}
input.text:focus {border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
input.submit {padding:6px 12px;margin-bottom:0;font-weight:bold;background:#6A7389;color:#fff;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}
form#embedForm {margin:0 0 0 15px;padding:2px 0 0 0;width:85%;border:none;background:none;}
form#embedForm label {display:block;color:#333;font-size:.95em;margin-left:0;padding-left:0;}
form#embedForm input {font-size:.85em;margin-left:0;padding-left:0;width:75%;}
/* =tabbed content box (includes ul#tabs and div#tabContents)
----------------------------------------------- */
ul#tabs {margin:0;padding-bottom:35px;list-style-type:none;border-bottom:1px solid #ccc;}
ul#tabs li {margin:0;padding:0;display:inline;}
#tabs a:link, #tabs a:visited {margin-right:8px;padding:10px;background:#F2F2F2;border:1px solid #ccc;color:#666;float:left;font-size:small;font-weight:normal;line-height:14px;text-decoration:none;border-top-left-radius:4px;border-top-right-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;}
#tabs a:link.active, #tabs a:visited.active	{color:#000;background:#fff;border-bottom:1px solid #fff;}
#tabs a:hover {color:#001155;}
body.default #tabs li#tab1 a, body.advanced #tabs li#tab2 a, body.all #tabs li#tab3 a {color:#000;font-weight:bold;background:#fff;border-bottom:1px solid #fff;}
div#tabContents {margin:0 0 15px 0;padding:15px;clear:both;background:#fff;border:1px solid #ccc;border-top:none;}
/* =miscellaneous and special global settings
----------------------------------------------- */
hr {border:0;color:#CCCEC6;background-color:#CCCEC6;height:1px;}
.highlight {background-color:yellow;}
.descript {text-align:left;padding:0 15px;}
.hidden {border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
#sample {background:url("../img/sample.gif") 0 50% no-repeat;padding-left:17px;}
.xml {line-height:10px;background:url("../img/feed.gif") 0 50% no-repeat;padding-left:14px;}
.contact:before {content: "\0040\ ";font-size:1.1em;}
.embed {font-family: "Courier New", Courier, monospace;color:#666;}
.embed:before {content: "\003C";}
.embed:after {content: "\003E";}
.expand:before {content: "\271A\ ";color:#666;font-size:1em;}
.download:before {content: "\21E3\ ";font-size:1.3em;}
.permalink:before {content: "\221E\ ";font-size:1.35em;}
.quality:before {content: "\2750\ ";font-size:1.35em;color:#480;}
.share:before {content: "\271A\ ";font-size:1.2em;color:#fa7;}
.list-icon:before {content: "\2630\ ";}
.cloud-icon:before {content: "\2601\ ";}
a.cloud-icon {margin-left:.8em;}
p#cloud-view {padding:25px 0;}
p#cloud-view a.size1 {font-size:.95em;}
p#cloud-view a.size2 {font-size:1.1em;font-weight:bold;}
p#cloud-view a.size3 {font-size:1.2em;font-weight:bold;}
p#cloud-view a.size4 {font-size:1.3em;font-weight:bold;}
p#cloud-view a.size5 {font-size:1.5em;font-weight:bold;}
p#cloud-view a.size6 {font-size:1.6em;font-weight:bold;}
p#cloud-view a.size7 {font-size:1.7em;font-weight:bold;}
p#cloud-view a.size8 {font-size:1.8em;font-weight:bold;}
p#cloud-view a.size9 {font-size:2.5em;font-weight:bold;}
.controls {display:block;float:right;width:auto;padding-left:20px;font-size:.75em;}
.image-div {float:left;}
.justify {display:block;margin:auto;text-align:center;}
.object {display:block;float:left;width:auto;margin:0;padding:0 15px 10px 0;}
.search-dl {float:left;margin-left:10px;margin-top:0;}
.search-hr {clear:both;}
/* =Navigation (sitewide)
----------------------------------------------- */
p#toggle {text-align:right;width:100%;}
p#toggle a {line-height:11px;background:url("../img/bullet.gif") 0 50% no-repeat;padding-left:22px;}
.return {float:right;}
a.bck:before {content: "\00AB\ ";color:#666;font-size:1.5em;}
a.fwd:before {content: "\00BB\ ";color:#666;font-size:1.5em;}
/* = social icons
----------------------------------------------- */
.social-icons {position:relative;left:2em;width:15em;list-style:none;}
.social-icons a {border-bottom:none;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius: 50%;background-color: hsla(210, 100%, 25%, .05);}
.social-icons a:hover {color:white;padding:.8em;border:none;text-decoration:none;}
.social-icons a:visited {text-decoration:none;}
@font-face {
  font-family: 'social-icons';
  src: url('https://arc.lib.montana.edu/meta/fonts/social-icons.eot?20367280');
  src: url('https://arc.lib.montana.edu/meta/fonts/social-icons.eot?20367280#iefix') format('embedded-opentype'),
       url('https://arc.lib.montana.edu/meta/fonts/social-icons.woff?20367280') format('woff'),
       url('https://arc.lib.montana.edu/meta/fonts/social-icons.ttf?20367280') format('truetype'),
       url('https://arc.lib.montana.edu/meta/fonts/social-icons.svg?20367280#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'social-icons';
  src: url('https://arc.lib.montana.edu/meta/fonts/social-icons.eot?20367280');
  src: url('https://arc.lib.montana.edu/meta/fonts/social-icons.eot?20367280#iefix') format('embedded-opentype'),
       url('https://arc.lib.montana.edu/meta/fonts/social-icons.woff?20367280') format('woff'),
       url('https://arc.lib.montana.edu/meta/fonts/social-icons.ttf?20367280') format('truetype'),
       url('https://arc.lib.montana.edu/meta/fonts/social-icons.svg?20367280#social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {font-family: "social-icons";font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;text-align: center;font-variant: normal;text-transform: none;font-size: 140%;}
.icon-pinterest:before {content: '\e800'; } /* '' */
.icon-twitter:before {content: '\e802'; } /* '' */
.icon-facebook:before {content: '\e803'; } /* '' */
.social-icons a.facebook, a.twitter, a.pinterest {display:inline-block;margin-right:.5em;padding:.8em;height:20px;width:20px;text-align:center;-webkit-transition:all 0.1s ease-in-out;-moz-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
.social-icons a.facebook:hover {background-color:#305fb3;}
.social-icons a.twitter:hover {background-color:#2daae1;}
.social-icons a.pinterest:hover {background-color:#e1003a;}
#main ul.metadata li p.share-text {margin-top:8px;margin-bottom:-5px;}
/* =contain
----------------------------------------------- */
.fullWidth div#contain {width:95%;margin:0 auto;background-color:#fff;}
.rightCol div#contain {width:95%;margin:0 auto;background-color:#fff;}
/* =mastHead
----------------------------------------------- */
div#mastHead {background-color:#213C69;height:54px;}
#mastHead h1 {position:absolute;top:0;margin:23px 0 0 10px;font-size:1.4em;color:#fff;background:#213C69 url("../img/msu-logo.gif") 0 50% no-repeat;}
#mastHead h1 a {color:#fff;text-decoration:none;border:none;padding-left:31px;}
#mastHead img {position:absolute;top:0;border:none;}
#mastHead p {color:#fff;padding:0 10px 3px 0;margin:0;font-size:0.75em;text-align:right;}
/* =main
----------------------------------------------- */
div#main {float:right;width:70%;background:#fff url("../img/whiteshadow.jpg") repeat-x;z-index:100;/*set default height of div - this is the height that IE6 and other older browsers will use*/height:500px;}
html>body div#main {/*reset the height for compliant browsers*/height:auto;min-height:500px;}
.rightCol div#main {float:left;width:76%;}
.fullWidth div#main {width:100%;display:block;float:none;}
div#main .gutter {padding:15px}
div#main h2 strong {padding:2px 5px;background-color:#ffff66} /*highlights search terms and number of results*/
div#main h3 strong {padding:2px 5px;background-color:#ffff66} /*highlights search terms and number of results*/
div#main ul.list {list-style:none;}
div#main ul.boxes {float:left;width:100%;margin:10px 0 20px 0;padding:0 0 10px 0;list-style:none;text-align:left;}
div#main ul.boxes li {background-image:none;position:relative;float:left;width:31%;margin:0 2px 0 0;padding:0 .5em .5em .5em;}
div#main ul.boxes li h2.mainHeading {background:url("../img/bullet.gif") 0 75% no-repeat;padding-left:21px;}
div#main ul.boxes li p {margin:0;padding:0 0 3px 5px;}
ul#listColumns {float:left;width:100%;margin:0;padding:0 0 10px 0;list-style:none;text-align:left;}
ul#listColumns li {background-image:none;position:relative;float:left;width:45%;margin:0 2px 0 0;padding:0 .5em .5em .5em;}
ul#block {float:left;width:100%;margin:0;padding:0;list-style:none;text-align:left;}
ul#block li {display:inline;display:inline-block;width:25em;margin:0;padding:10px;border-bottom:2px solid #f2f2f2;}
#main ul.item {float:left;width:100%;margin-bottom:10px;list-style:none;}
#main ul.item li {margin:0;padding:0;}
#main ul.metadata {float:left;width:100%;margin:0;padding:0;list-style:none;text-align:left;}
ul.metadata li.object {float:left;position:relative;width:35%;overflow:hidden;white-space:nowrap;margin:0;padding:0 20px 0 0;}
.object a span {position:absolute;top:0%;left:1%;color:#fff;font-size:.9em;font-weight:500;padding:2px 4px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background:rgb(23,25,28);background:rgba(23.25.28,.5);opacity:.7;}
ul.metadata li.object img {height:auto;max-width:100%;width:100%;}
ul.metadata li.describe {float:left;position:relative;width:70%;margin:0;padding:0 20px 0 0;}
ul.metadata li.action {float:left;position:relative;width:27%;margin:0;padding:0;}
#main ul.metadata li p {margin:0 0 0 15px;padding:2px 20px 0 0;}
#main ul.metadata ul.authorList {margin:0 0 0 50px;list-style-type:disc;}
span.entryField {color: #c0c0c0;}
/* =sideBar
----------------------------------------------- */
div#sideBar {float:left;width:20%;color:#001155;z-index:1;}
/*.leftCol div#sideBar {float:left;width:24%;background:#fdce60 url("../img/goldshadow.jpg") repeat-x;}*/
.rightCol div#sideBar {float:right;width:24%;background:#fff url("../img/whiteshadow.jpg") repeat-x;}
.fullWidth div#sideBar {width:100%;display:none;float:none;}
div#sideBar .gutter {padding:15px;}
/* =footer
----------------------------------------------- */
div#footer {clear:both;padding:10px 0;color:#7e7e7e;background-color:#ddd;}
#footer ul {width:100%;margin:0;padding:0;font-size:0.85em;border-top:1px solid #ecebeb;}
#footer ul li {display:inline;list-style:none;margin:0;padding:3px 7px;}
#footer ul li a {color:#7e7e7e;text-decoration:underline;border:none;}
#footer ul li#links {float:left;width:auto;}
#footer ul li#info {float:right;width:auto;}

/*large screen view [default] > 801px (based on 16px browser default)*/
@media all and (min-width:50.1em) {
}

/*medium screen view < 801px (based on 16px browser default)*/
@media all and (max-width:50.1em) {
	.justify {display:block;margin:auto;text-align:left;}
#mastHead h1 {
  /*position:absolute;top:0;
  border:0 auto;width:100%;height:auto;margin:0;padding:0;opacity:1;clip:auto;color:#fff;*/
  width: 90%;
  white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis; /* Required for IE8 */
    -o-text-overflow: ellipsis; /* Required for Opera */
    text-overflow: ellipsis;
}
	ul#listColumns li,div#main ul.boxes li,ul.metadata li.object,ul.metadata li.describe,ul.metadata li.action {float:none;width:100%;}
	#footer ul li#info {float:left;width:auto;}
}

/*small screen view < 481px (based on 16px browser default)*/
@media all and (max-width:30.063em) {
	ul.metadata li.object img {height:auto;max-width:100%;width:100%;}
	input.text, textarea, select {width:13em;}
	ul#block li {width:16.5em;}
}
